@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TenderData

<div class="main-content container">
    <h3>@Model.shortInfo.FirstOrDefault().AgencyName</h3>
    @{
        var workDesc = @Model.shortInfo.FirstOrDefault().WorkDesc;
        if (workDesc.Length > 50)
        {
            workDesc = workDesc.Substring(0, 50);
        }
    }
    <h4 style="color:#5e5e5e">@workDesc</h4>
</div>
<div class="TbEffect  container  mb-4">

    <div class="row p-2">
        <h3 class="col-md-10 text-primary">
            Tender Notice
        </h3>
        <button type="button" class="btn btn-primary col-md-2" data-toggle="modal" data-target="#exampleModal" id="btnModal">
            Full Details
        </button>
    </div>


    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            TDR
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().OurRefNo
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            Tender Brief
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().WorkDesc
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            Address
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().Address
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            CPV
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().Name
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            City
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().City
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            Last Date
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().SubmDate
        </span>
    </div>
    <div class="row border-top">
        <span class="col-4 h5 pt-2">
            Competition Type
        </span>
        <span class="col-8 pt-2">
            @Model.shortInfo.FirstOrDefault().Name
        </span>
        <!-- Button trigger modal -->

    </div>
</div>

<!-- Modal -->
<div class="modal fade show" data-bs-backdrop="static" data-bs-keyboard="false" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-10">
            <div class="content-text p-4">
                <h3>Registration form</h3>
                <form id="MailVerify">
                    <p>
                        All Fields are required
                        .
                    </p>
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" id="txtname" placeholder="Full Name" onblur="ValidateName()">
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="text" class="form-control" id="txtmobile" placeholder="Enter number" min="9" maxlength="12" onblur="ValidateNumber()">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" id="txtemail" placeholder="Enter email" onblur="ValidateEmail()">
                    </div>
                    <div class="hidden" id="btnVerify">
                        <div class="modal-footer">
                            <input type="text" class="form-control" id="inputOtp" placeholder="Enter OTP">
                            <button type="button" id="btnSubmit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>


                    <input type="hidden" id="hdn_email" name="emailhdn">
                    <input type="hidden" id="hdn_UserID" name="userIdhdn">
                    <input type="hidden" id="hdn_otp" name="otphdn">
                    <input type="hidden" id="hdn_Tid" name="tidhdn" value="@Model.shortInfo.FirstOrDefault().OurRefNo">
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - 2 (free user block) -->
<div class="modal fade" id="unsucriberUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upgrade for Full Tender Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                You've hit the maximum limit for free access to tender details. To see more information, you'll need to subscribe or become a paid member.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Subscribe Now</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">

        $('#btnModal').on('click', function () {
            $('#modalForm').modal('show');
            $('#inputOtp').hide();
            document.getElementById('btnSubmit').innerHTML = "Submit";
        })


        $("#txtmobile").on("keypress", function (event) {
            if (event.which < 48 || event.which > 58) {
                return false;
            }
        });

        function ValidateEmail() {
            var email = document.getElementById("txtemail").value.trim();

            if (email != "") {
                var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (!expr.test(email)) {

                    toastr.error("Please Enter Valid Email");
                    document.getElementById("txtemail").value = "";
                }
            }
        }


        $("#btnSubmit").click(function (e) {
            var tValidate = true;
            if (document.getElementById('btnSubmit').innerHTML.toString() == "Submit") {
                if (tValidate) {
                    if ($("#txtname").val() == "") {
                        toastr.error("Please Enter Name");
                        tValidate = false;
                        $("#txtname").focus();
                    }
                }
                if (tValidate) {
                    if ($("#txtemail").val() == "") {
                        toastr.error("Please Enter Email Id");
                        tValidate = false;
                        $("#txtemail").focus();
                    }
                }
                if (tValidate) {
                    if ($("#txtmobile").val() == "") {
                        toastr.error("Please Enter Phone Number");
                        tValidate = false;
                        $("#txtmobile").focus();
                    }
                }
                if (tValidate) {
                    $.ajax({
                        url: "/Home/sendmailotp",
                        type: "GET",
                        data: { name: $('#txtname').val(), mobile: $('#txtmobile').val(), email: $('#txtemail').val() },
                        success: function (result) {
                            if (result.id == 1) {
                                $('#inputOtp').show();
                                document.getElementById('btnSubmit').innerHTML = "Verify";
                                $("#hdn_email").val(result.email_new);
                                $("#hdn_otp").val(result.otp);
                                $("#hdn_UserID").val(result.userid);

                            }
                            else if (result.id == 2) {
                                $('#unsucriberUser').modal('show');
                            }

                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    })
                }
            }
            else {
                alert($('#hdn_otp').val());
                alert($('#hdn_UserID').val())
                if (tValidate) {
                    if ($("#inputOtp").val() == "") {
                        toastr.error("Please Enter OTP");
                        tValidate = false;
                        $("#inputOtp").focus();
                    }
                    if ($("#inputOtp").val() != $("#hdn_otp").val()) {
                        toastr.error("Please Enter Valid OTP");
                        tValidate = false;
                        $("#inputOtp").focus();
                    }
                }
                if (tValidate) {
                    $.ajax({
                        url: "/Home/emailVerify",
                        type: "GET",

                        data: { email: $('#hdn_email').val(), OurRefNo: $('#hdn_Tid').val(), UserID: $('#hdn_UserID').val() },
                        success: function (result) {
                            if (result.id == 1) {
                                window.location.href = "/Home/FullNotice/" + result.userid + "?";
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    })
                }
            }
        });

    </script>
    }
